/*Selector universal es el asterísco, todo en cada elemento*/
*{
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

header{
    /*background-color: aqua;*/
    min-height: 10vh;
    font-size: 17px;
}

main {
    /*background-color: bisque;*/
    text-align: center;
    min-height: 77.1vh;
    font-size: 19px;
}

footer {
    /*background-color: aquamarine;*/
    font-size: 14px;
}

/* Estilos para elementos de lista lado a lado*/

li {
    display: inline-block;
    padding: 12px;
    text-align: center;
    
}
li:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

footer ul{
    display: inline-block;
}

header ul{
    align-items: center;
    display: flex;
    justify-content: end; 
    padding: 0; 
}

.icono {
    background-color: white;
    padding: 0px;
    margin: 0px;
    width: 30px;
    border: none;
    
}

#logo{
    padding-top: 2em;
    margin-bottom: 1em;
}

#buscador{
    
    min-width: 40vw;
    min-height: 40px;
    border: 1px solid gainsboro;
    border-radius: 25px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 12px;
    padding-right: 12px;
}
#buscador:hover{
    
    
    box-shadow: 2px 2px 2px 2px #ebebeb;
}

#contenedor-buscador{
    display: flex;
    justify-content: center;
}

#buscador input{
    flex-grow: 1;
    outline: none;
    border: none;
}

/* Display flex para menu*/
#menu{
    display: flex;
    justify-content: space-between;
}

#botones-busqueda button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    /* Margen: Izq-Der Arr-Abj-*/
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    /* Pasas mouse encima se convierte en una mano*/
    cursor: pointer;
    user-select: none;
}

#botones-busqueda button:hover{
    border: 1px solid #aaaaaa;
    box-shadow: 2px 2px 2px #aaaaaa;
}

#perfil{
    width: 34px;
    height: 34px;
    border-radius: 50%;

}

footer{
    background-color: #f1f1f1;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: black;
}

#pais{
 border-bottom: 1px solid #dbdbdb;
}